.card {
  border-radius: 8px;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.card-body h6 {
  font-size: 16px;
}
.card-body p {
  font-size: 13px;
}
.btn-sm {
  padding: 4px 12px;
}


.card-body ul.list-group li {
  font-size: 16px;
}

.card-body h5 {
  margin-top: 10px;
}

.billing-summary-card {
  position: sticky;
  top: 80px; /* adjust depending on your header height */
  z-index: 10;
}



.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(90deg, #f80404be);
  color: white;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: bold;
}

.text-end{
margin-left: 279px;
}
