<ul class="navbar-nav ms-auto">
  <li *ngIf="userName === 'canteen'">
    <div class="btn btn-light position-relative">🔔<span *ngIf="notificationCount > 0"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ notificationCount }}
      </span>
    </div>
  </li>


  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" (click)="OnLogout()" ngbDropdownToggle>
        <span class="text-white fw-bold" style="padding: 1%;text-align: right;">{{ Name }}</span>
        <!-- <img src="assets/images/user/avatar-1.jpg" class="img-radius wid-40" alt="User-Profile-Image" /> -->
        <!-- <i class="fa fa-sign-out-alt text-white" style="font-size: 20px; cursor: pointer;"></i> -->
        <i class="fa fa-power-off" aria-hidden="true" style="font-size: 20px; cursor: pointer;"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <span>{{Name}}</span>
        </div>
        <!-- <ul class="pro-body">
          <li><a href="/about-us" class="dud-logout" title="About Us">
              <i class="feather icon-help-circle"></i> About
            </a></li>
        </ul> -->
        <ul class="pro-body">
          <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li> -->
          <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li> -->
          <li><a href="javascript:" class="dud-logout" title="Logout" (click)="OnLogout()">
              <i class="feather icon-log-out"></i> Logout
            </a></li>
          <!-- <li><a href="javascript:" class="dud-logout" title="Logout" >(click)="OnLogout()"
            <i class="feather icon-log-out"></i> About
          </a></li> -->
        </ul>
      </div>
    </div>
  </li>
</ul>
