.status-green {
  background-color: #28a745; /* Green */
  color: #ffffff;           /* White text */
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.status-yellow {
  background-color: #ffc107; /* Yellow/Orange */
  color: #ffffff;            /* White text */
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.status-red {
  background-color: #DC355B; /* Red */
  color: #ffffff;            /* White text */
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.status-gray {
  background-color: #6c757d; /* Gray */
  color: #ffffff;            /* White text */
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.status-dark {
  background-color: #B71C1C; /* dark red */
  color: #fff;
   padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}


.selected-row {
  background-color: #e3f2fd !important;
}

.mat-elevation-z8 {
  border-radius: 10px;
}


