<!-- Filter Section -->
<div class="card shadow-sm border-0 mb-4">
  <div class="card-body">
    <div class="row g-3 align-items-end">

      <!-- Status Filter -->
      <div class="col-md-3">
        <label class="form-label fw-semibold">Status</label>
        <!-- <input type="text" class="form-control" placeholder="Search by Status" [(ngModel)]="statusFilter"> -->
        <select class="form-control" [(ngModel)]="statusFilter">
          <option value="">All</option>
          <option *ngFor="let status of statusArray" [value]="status.value">{{ status.statuslabel }}</option>
        </select>
      </div>

      <!-- Order Date Filter -->
      <div class="col-md-3">
        <label class="form-label fw-semibold">Order Date</label>
        <input type="date" class="form-control" [(ngModel)]="orderDateFilter">
      </div>

      <!-- User Name Filter -->
      <div class="col-md-3">
        <label class="form-label fw-semibold">User Name</label>
        <select class="form-control" [(ngModel)]="userNameFilter">
          <option value="">All</option>
          <option *ngFor="let user of userNameList" [value]="user.userName">{{ user.userName }}</option>
        </select>
      </div>

      <!-- Buttons -->
      <div class="col-md-3 d-flex justify-content-start mt-3 mt-md-0">
        <button type="button" class="btn btn-primary me-2 px-4" (click)="orderSearchFilter()">
          <i class="bi bi-search me-1"></i> Search
        </button>
        <button type="button" class="btn btn-outline-secondary px-4" (click)="resetOrderSearchFilter()">
          <i class="bi bi-x-circle me-1"></i> Reset
        </button>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div class="card text-center" style="margin-top: 10px;">
  <div class="card-header">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-6 d-flex">
        <h6 class="card-title fw-bold">User Manage Order</h6>
      </div>

      <div class="col-sm-6 d-flex flex-column flex-sm-row justify-content-sm-end">

        <button type="button" class="btn btn-outline-primary btn-md" style="margin-left: 10px;"
          (click)="exportToExcel()">
          <mat-icon fontIcon="file_download"></mat-icon> Export Excel
        </button>

        <button type="button" class="btn btn-outline-danger btn-md" style="margin-left: 10px;" (click)="exportToPDF()">
          <mat-icon fontIcon="picture_as_pdf"></mat-icon> Export PDF
        </button>

        <!-- <button type="button" style="margin-left: 10px;" class="btn btn-md btn-warning" [disabled]="!selectedOrder"
          (click)="openEditCanteenOrderStatusTemplate(selectedOrder, aanteenOrderStatusEdit)">
          Order Status</button> -->

        <button type="button" style="margin-left: 10px;" class="btn btn-md btn-success" [disabled]="!selectedOrder"
          (click)="openEditCanteenOrderStatusTemplate(selectedOrder, aanteenOrderStatusEdit)">
          Order Status</button>

        <button type="button" style="margin-left: 10px;" class="btn btn-md btn-danger" [disabled]="!selectedOrder"
          (click)="deleteSelectedOrder()">
          Order Cancel
        </button>
      </div>


    </div>
  </div>
  <div class="card-body" style="overflow-x: scroll;">

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
          <input type="checkbox" name="orderCheckbox" [checked]="selectedOrder?.orderId === element.orderId"
            [disabled]="element.paymentStatus === 1 && element.status === 2"
            (change)="onCheckboxChange(element, $event)" />
        </td>
      </ng-container>

      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell class="sno" *matCellDef="let lookup; let i = index" style="text-align: left;">{{
          (currentPage * pageSize) + i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ordernumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Number </th>
        <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="orderTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Time </th>
        <td mat-cell *matCellDef="let element">{{element.orderTime}}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="usertype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
        <td mat-cell *matCellDef="let element"> {{element.userType}} </td>
      </ng-container>

      <ng-container matColumnDef="userMobileNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </th>
        <td mat-cell *matCellDef="let element"> {{element.userMobileNo}} </td>
      </ng-container>

      <ng-container matColumnDef="orderdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
      </ng-container>

      <ng-container matColumnDef="totalamount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
        <td mat-cell *matCellDef="let element" style="color: green;" (click)="getOrderDetailsById(element.orderId)">
          ₹ {{element.totalAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
        <!-- <td mat-cell *matCellDef="let element"> {{getOrderStatusLabel(element.status)}} </td> -->
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="getOrderStatusLabel(element.status).cssClass">
            {{ getOrderStatusLabel(element.status).label }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="paymenttype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type </th>
        <td mat-cell *matCellDef="let element"> {{getPaymentTypeLabel(element.paymentType)}}</td>
      </ng-container>

      <ng-container matColumnDef="paymentstatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="getPaymentStatusLabel(element.paymentStatus).cssClass">
            {{ getPaymentStatusLabel(element.paymentStatus).label }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="transtionId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transtion ID </th>
        <td mat-cell *matCellDef="let element"> {{element.transtionId}} </td>
      </ng-container>

      <!-- Header + Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected-row]="selectedOrder?.orderId === row.orderId">
      </tr>
    </table>
  </div>
  <div class="card-footer text-muted">
    <div class="row justify-content-between align-items-center">
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 200,500]" (page)="pageChanged($event)"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


<!-- ---------------------------------- Angular Template for adding a new ------------------------------------ -->
<ng-template #canteenOrderAdd let-modal>
  <form [formGroup]="addCanteenOrderForm" #signInNgForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Order</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="row">
        <!-- Order Number -->
        <div class="col-md-6 mb-2">
          <label>Order Number<strong style="color: red;">*</strong></label>
          <input [formControlName]="'orderNumber'" class="form-control" readonly>
        </div>

        <!-- Day Name -->
        <div class="col-md-6 mb-2">
          <label>Day Name<strong style="color: red;">*</strong></label>
          <select [formControlName]="'dayId'" class="form-control">
            <option *ngFor="let days of dayName" [value]="days.dayId">
              {{ days.daysName }}
            </option>
          </select>
        </div>

        <!-- User Name -->
        <div class="col-md-6 mb-2">
          <label>User Name<strong style="color: red;">*</strong></label>
          <input type="hidden" [formControlName]="'rgenId'" class="form-control">
          <input [formControlName]="'userName'" class="form-control" required>
        </div>

        <!-- User Type -->
        <div class="col-md-6 mb-2">
          <label>User Type<strong style="color: red;">*</strong></label>
          <input type="hidden" [formControlName]="'userId'" class="form-control">
          <input [formControlName]="'userType'" class="form-control" required readonly>
        </div>

        <!-- Total Amount -->
        <div class="col-md-6 mb-2">
          <label>Total Amount<strong style="color: red;">*</strong></label>
          <input type="number" min="0" [formControlName]="'totalAmount'" class="form-control" required>
        </div>
        <!-- PaymentType -->
        <div class="col-md-6 mb-2">
          <label>Payment Type *</label>
          <select [formControlName]="'paymentType'" class="form-control">
            <option *ngFor="let pytype of paymentTypesArray" [value]="pytype.value">{{ pytype.paymenttypelabel }}
            </option>
          </select>
        </div>
        <!-- PaymentStatus -->
        <div class="col-md-6 mb-2">
          <label>Payment Status *</label>
          <select [formControlName]="'paymentStatus'" class="form-control">
            <option *ngFor="let pystatus of paymentStatusArray " [value]="pystatus.value">
              {{pystatus.paymentstatuslabel}}</option>
          </select>
        </div>

        <!-- Status -->
        <div class="col-md-6 mb-2">
          <label>Status *</label>
          <select [formControlName]="'status'" class="form-control">
            <option *ngFor="let status of statusArray" [value]="status.value">{{ status.statuslabel }}</option>
          </select>
        </div>

        <!-- Remark -->
        <div class="col-md-6 mb-2">
          <label>Remark<strong style="color: red;">*</strong></label>
          <textarea [formControlName]="'remark'" class="form-control" required></textarea>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-md btn-primary" (click)="addNewCanteenOrder()">Save</button>
    </div>
  </form>
</ng-template>

<!-- ---------------------------------- Angular Template for updating a existing ------------------------------------ -->
<ng-template #aanteenOrderEdit let-modal>
  <form [formGroup]="editCanteenOrderForm" #signInNgForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Order</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- Order Number -->
        <div class="col-md-6 mb-2">
          <label>Order Number<strong style="color: red;">*</strong></label>
          <input type="hidden" [formControlName]="'orderId'" class="form-control" required>
          <input [formControlName]="'orderNumber'" class="form-control" readonly>
        </div>

        <!-- Day Name -->
        <div class="col-md-6 mb-2">
          <label>Day Name<strong style="color: red;">*</strong></label>
          <select [formControlName]="'dayId'" class="form-control">
            <option *ngFor="let days of dayName" [value]="days.dayId">
              {{ days.daysName }}
            </option>
          </select>
        </div>

        <!-- User Name -->
        <div class="col-md-6 mb-2">
          <label>User Name<strong style="color: red;">*</strong></label>
          <input type="hidden" [formControlName]="'rgenId'" class="form-control">
          <input [formControlName]="'userName'" class="form-control" required>
        </div>

        <!-- User Type -->
        <div class="col-md-6 mb-2">
          <label>User Type<strong style="color: red;">*</strong></label>
          <input type="hidden" [formControlName]="'userId'" class="form-control">
          <input [formControlName]="'userType'" class="form-control" required readonly>
        </div>

        <!-- Total Amount -->
        <div class="col-md-6 mb-2">
          <label>Total Amount<strong style="color: red;">*</strong></label>
          <input type="number" min="0" [formControlName]="'totalAmount'" class="form-control" required>
        </div>

        <!-- Payment Type -->
        <div class="col-md-6 mb-2">
          <label>Payment Type *</label>
          <select class="form-control" formControlName="paymentType">
            <option *ngFor="let pytype of paymentTypesArray" [value]="pytype.value">{{ pytype.paymenttypelabel }}
            </option>
          </select>
        </div>

        <!-- Payment Status -->
        <div class="col-md-6 mb-2">
          <label>Payment Status *</label>
          <select class="form-control" formControlName="paymentStatus">
            <option *ngFor="let pystatus of paymentStatusArray" [value]="pystatus.value">{{ pystatus.paymentstatuslabel
              }}
            </option>
          </select>
        </div>
        <!-- Status -->
        <div class="col-md-6 mb-2">
          <label>Status *</label>
          <select class="form-control" formControlName="status">
            <option *ngFor="let status of statusArray" [value]="status.value">{{ status.statuslabel }}</option>
          </select>
        </div>
        <!-- Remark -->
        <div class="col-md-6 mb-2">
          <label>Remark<strong style="color: red;">*</strong></label>
          <textarea [formControlName]="'remark'" class="form-control" required></textarea>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-md btn-primary" (click)="updateOrder()">Update</button>
    </div>
  </form>
</ng-template>

<!-- ---------------------------------- Angular Template for Update Order Details For Admin User ------------------------------------ -->
<ng-template #aanteenOrderStatusEdit let-modal>
  <form [formGroup]="editCanteenOrderStatusForm">
    <div class="modal-header">
      <h6 class="modal-title">Update Order Status</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="row">
        <!-- Payment Status -->
        <div class="col-md-6 mb-2">
          <label>Payment Status <strong class="text-danger">*</strong></label>
          <select class="form-control" formControlName="paymentStatus">
            <option *ngFor="let pystatus of paymentStatusArray" [value]="pystatus.value">{{ pystatus.paymentstatuslabel
              }}</option>
          </select>
        </div>

        <!-- Payment Type -->
        <div class="col-md-6 mb-2">
          <label>Payment Type <strong class="text-danger">*</strong></label>
          <select class="form-control" formControlName="paymentType">
            <option *ngFor="let pytype of paymentTypesArray" [value]="pytype.value">{{ pytype.paymenttypelabel }}
            </option>
          </select>
        </div>



        <!-- Status -->
        <div class="col-md-6 mb-2">
          <label>Status <strong class="text-danger">*</strong></label>
          <select class="form-control" formControlName="status">
            <option *ngFor="let status of statusArray" [value]="status.value">{{ status.statuslabel }}</option>
          </select>
        </div>

        <!-- Remark -->
        <div class="col-md-6 mb-2">
          <label>Remark <strong class="text-danger">*</strong></label>
          <input type="hidden" [formControlName]="'orderId'" class="form-control" required>
          <textarea class="form-control" rows="3" formControlName="remark"></textarea>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-md btn-primary" (click)="updateOrderStatus()">Update</button>
    </div>
  </form>
</ng-template>

<!-- ---------------------------------- Angular Template for order details billing a existing ------------------------------------ -->
<ng-template #canteenOrderDetails let-modal>
  <div class="modal-header">
    <h6 class="modal-title fw-bold">Order Details</h6>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card text-center shadow-sm">
      <div class="card-header bg-light">
        <h6 class="fw-bold">Order Billing </h6>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-sm">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Item Name</th>
              <th>Qty</th>
              <th>Total Amount (₹)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selectedOrderDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.itemName }}</td>
              <td>{{ item.itemNo }}</td>
              <td>{{ item.totalAmount }}</td>
            </tr>
          </tbody>
        </table>

        <h6 class="text-end fw-bold mt-2" style="margin-right: 40px;">Grand Total: ₹ {{ grandTotal}}</h6>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"> Close </button> -->
  </div>
</ng-template>
