 <div class="card text-center">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4 d-flex">
                <h5 class="card-title fw-bold">Dashboard</h5>
            </div>
        </div>
    </div>
    <div class="modal-body">

    </div>
</div>
<div style="text-align: center; margin-top: 20px;">
    <img src="assets/images/page-under-construction.jpg" alt="page not found" style="width: 500px; margin-bottom: 20px;" />
    </div>
