.card .card-header {
  background-color: rgb(244, 242, 242);
}

.card .card-footer {
  background-color: rgb(244, 242, 242);
}

.card-body {
  padding: 0;
}

.mat-mdc-paginator {
  background-color: rgb(244, 242, 242) !important;
}