<div class="card text-center" style="margin-top: 10px;">
  <div class="card-header">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-6 d-flex">
        <h6 class="card-title fw-bold">Canteen Notice</h6>
      </div>
    </div>
  </div>
  <div class="card-body" style="overflow-x: scroll;">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell class="sno" *matCellDef="let lookup; let i = index" style="text-align: left;">{{
          (currentPage * pageSize) + i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="notice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notice </th>
        <td mat-cell *matCellDef="let element"> {{element.notice}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <mat-dialog-actions>
            <button class="btn btn-sm" style="color: green;"
              (click)="openEditCanteenNoticeTemplate(element,aanteenNoticeEdit)">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
            </button>
          </mat-dialog-actions>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</div>


<!-- ---------------------------------- Angular Template for updating a existing ------------------------------------ -->
<ng-template #aanteenNoticeEdit let-modal>
  <form [formGroup]="editCanteenNoticeForm" #signInNgForm="ngForm">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Update Notice</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <label class="me-2 fw-semibold">Notice<strong style="color: red;">*</strong></label>
          <div class="input-group">
            <textarea [formControlName]="'notice'" rows="6" placeholder="Enter Notice" class="form-control"
              required></textarea>
            <input type="hidden" [formControlName]="'canteenNoticeId'" class="form-control" required>
          </div>
        </div>
        <div class="col-6" style="margin-top: 11px;">
          <label class="me-2 fw-semibold">Status <strong style="color: red;">*</strong></label>
          <label class="switch ios"><input type="checkbox" formControlName="isActive" /><span
              class="slider round"></span></label>
          <span class="ms-2">
            {{ editCanteenNoticeForm.get('isActive')?.value ? 'ON' : 'OFF' }}
          </span>
        </div>
        <div class="col-6" style="margin-top: 11px;">
          <label class="me-2 fw-semibold" style="margin-left: -25px;">Order Place Status <strong style="color: red;">*</strong></label>
          <label class="switch ios"><input type="checkbox" formControlName="placeOrderIsActive" /><span
              class="slider round"></span></label>
          <span class="ms-2">
            {{ editCanteenNoticeForm.get('placeOrderIsActive')?.value ? 'ON' : 'OFF' }}
          </span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-md btn-primary" (click)="updateNotice()">Update</button>
    </div>
  </form>
</ng-template>
